In [200]:
# Import Libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [201]:
# Import data 

disengagements_data_2021_22 = pd.read_csv("./data/DMV Reports - disengagements 2021_2022.csv")

milege_data_2021 = pd.read_csv("./data/DMV Reports - dmv_mileage_2021.csv")
milege_data_2022 = pd.read_csv("./data/DMV Reports - dmv_mileage_2022.csv")

In [202]:
# Look at sample data
print(f"1.milege_data_2021:\n {milege_data_2021.head()}")
print(f"\n\n2.milege_data_2022:\n {milege_data_2022.head()}")
print(f"\n\n3.disengagements_data_2021_22:\n {disengagements_data_2021_22.head()}")

1.milege_data_2021:
                         manufacturer permit_number         vin_number
0                      AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509  \
1                      AIMOTIVE INC.        AVT036  4T1B21HK6KU514747
2  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  3LN6L5LU2HR615153
3  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  3LN6L2LU4GR629715
4  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  3LN6L5LU1HR627987

   total_disengagements  Dec 2020  Jan 2021  Feb 2021  Mar 2021  Apr 2021
0                  57.0       0.0       0.0       0.0      77.0     416.0  \
1                  49.0       0.0       0.0       0.0       0.0       0.0
2                   1.0       0.0       0.0       0.0       0.0       0.0
3                   0.0       0.0       0.0       0.0       0.0       0.0
4                   0.0       0.0       0.0       0.0       0.0       0.0

   May 2021  Jun 2021  July 2021  Aug 2021  Sep 2021  Oct 2021  Nov 2021
0     385.0     542.0      254.0     138.0      15.0       0.0       0.0  \
1       0.0       0.0        0.0       0.0      82.0     177.0     890.0
2       0.0     338.2       26.6     184.2      75.1     123.7      82.2
3       0.0       0.0        0.0     281.4     120.7     121.1     114.3
4       0.0       0.0        0.0       0.0       0.0       0.0       0.0

  total_miles
0      1827.0
1      1149.0
2     830 .04
3       637.5
4         0.0


2.milege_data_2022:
                         manufacturer permit_number         vin_number
0                      AIMOTIVE INC.        AVT036  4T1B21HK6KU514747  \
1                      AIMOTIVE INC.        AVT036  4T1B21HK3KU514477
2  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  3LN6L5LU2HR615153
3  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  2C4RC1N77LR190366
4  APOLLO AUTONOMOUS DRIVING USA LLC        AVT015  2C4RC1N71LR252232

   total_disengagements  Dec 2021  Jan 2022  Feb 2022  Mar 2022  Apr 2022
0                 462.0     249.0     216.0     819.0    1427.0    1857.0  \
1                 218.0       0.0       0.0       0.0       0.0       0.0
2                   0.0      50.2      51.1      58.3     100.9      79.9
3                   0.0     168.0     205.1      45.4      45.6      61.5
4                   0.0       0.0       0.0       0.0     126.4      15.2

   May 2022  Jun 2022  July 2022  Aug 2022  Sep 2022  Oct 2022  Nov 2022
0    1139.0    1623.0      458.0     111.0     344.0     654.0     453.0  \
1    1022.0    1458.0      651.0     969.0     342.0     466.0     957.0
2      76.7     118.5       70.4     171.6      88.0     194.0      82.5
3      59.0     108.5       42.8      44.5       4.0       0.0      40.0
4       0.0       0.0        0.0       0.0       0.0       0.0       0.0

   total_miles
0       9350.0
1       5865.0
2       1142.1
3        824.4
4        141.6


3.disengagements_data_2021_22:
     manufacturer permit_number         vin_number
0  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509  \
1  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
2  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
3  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
4  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509

  is_operatable_without_driver driver_present is_disengaged_by
0                           No            Yes      Test Driver  \
1                           No            Yes      Test Driver
2                           No            Yes      Test Driver
3                           No            Yes      Test Driver
4                           No            Yes      Test Driver

  disengaged_location                               disengagement_reason
0             Freeway  During an exit/merge the test vehicle was goin...  \
1             Freeway  Exit/Merge Lane departure, due to the car miss...
2             Freeway  Exit/Merge Lane departure, due to the car miss...
3             Freeway  During an exit/merge the test vehicle was goin...
4             Freeway  The car should have stayed in the left lane, b...

        date
0   3/4/2021
1  3/16/2021
2  3/16/2021
3  3/16/2021
4   4/2/2021

In [203]:
# Investiagte Data Sizes
print(f"\nShapes: 1.milege_data_2021: {milege_data_2021.shape} 2.milege_data_2022: {milege_data_2022.shape} 3.disengagements_data_2021_22: {disengagements_data_2021_22.shape}\n")

Shapes: 1.milege_data_2021: (1174, 17) 2.milege_data_2022: (1553, 17) 3.disengagements_data_2021_22: (10892, 9)

In [204]:
# Study Overall Data Summary - Fields, Data Type, Null values, Stiatistics  
print(f"\n1.milege_data_2021 Info:\n ")
print(milege_data_2021.info())
print(f"\n1.milege_data_2021 Summary:\n {milege_data_2021.describe(include='object')}  \n\n {milege_data_2021.describe()}")

print(f"\n\n2.milege_data_2022 Info:\n")
print(milege_data_2022.info())
print(f"\n2.milege_data_2022 Summary:\n {milege_data_2022.describe(include='object')}  \n\n {milege_data_2022.describe()}")


print(f"\n\n3.disengagements_data_2021_22 Info:\n {disengagements_data_2021_22.info()} ")
print(f"\n3.disengagements_data_2021_22 Summary:\n {disengagements_data_2021_22.describe(include='object')}")


#print(disengagements_data_2021_22.info())

1.milege_data_2021 Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          1174 non-null   object
 1   permit_number         1174 non-null   object
 2   vin_number            1174 non-null   object
 3   total_disengagements  1174 non-null   float64
 4   Dec 2020              1174 non-null   float64
 5   Jan 2021              1174 non-null   float64
 6   Feb 2021              1174 non-null   float64
 7   Mar 2021              1174 non-null   float64
 8   Apr 2021              1174 non-null   float64
 9   May 2021              1174 non-null   float64
 10  Jun 2021              1173 non-null   float64
 11  July 2021             1173 non-null   float64
 12  Aug 2021              1172 non-null   float64
 13  Sep 2021              1174 non-null   float64
 14  Oct 2021              1173 non-null   float64
 15  Nov 2021              1174 non-null   float64
 16  total_miles           1174 non-null   object
dtypes: float64(13), object(4)
memory usage: 156.1+ KB
None

1.milege_data_2021 Summary:
        manufacturer permit_number         vin_number total_miles
count          1174          1174               1174        1174
unique           26            26               1173         945
top       WAYMO LLC        AVT003  5G21A6P0XL4100045         0.0
freq            693           693                  2         213

        total_disengagements     Dec 2020     Jan 2021     Feb 2021
count           1174.000000  1174.000000  1174.000000  1174.000000  \
mean               2.279387   114.726491   133.840375   166.693271
std               14.215680   271.272519   316.042381   371.870167
min                0.000000     0.000000     0.000000     0.000000
25%                0.000000     0.000000     0.000000     0.000000
50%                0.000000     0.000000     0.000000     0.000000
75%                0.000000     5.200000     9.025000    77.575000
max              222.000000  1957.800000  2526.000000  4076.000000

          Mar 2021     Apr 2021     May 2021     Jun 2021    July 2021
count  1174.000000  1174.000000  1174.000000  1173.000000  1173.000000  \
mean    209.778705   209.827172   273.435179   343.135976   294.189003
std     421.480803   427.713540   561.652698   621.989794   554.479995
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%     142.075000   128.700000   224.925000   472.000000   376.600000
max    2479.600000  3633.000000  4462.000000  3637.900000  3342.200000

          Aug 2021     Sep 2021     Oct 2021     Nov 2021
count  1172.000000  1174.000000  1173.000000  1174.000000
mean    370.072782   306.866610   503.898551   559.904855
std     663.109948   591.576145   810.357560   824.774944
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000
75%     508.125000   366.600000   797.600000  1015.225000
max    3372.800000  3684.000000  3593.000000  3565.000000


2.milege_data_2022 Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1553 entries, 0 to 1552
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          1553 non-null   object
 1   permit_number         1553 non-null   object
 2   vin_number            1553 non-null   object
 3   total_disengagements  1553 non-null   float64
 4   Dec 2021              1553 non-null   float64
 5   Jan 2022              1553 non-null   float64
 6   Feb 2022              1552 non-null   float64
 7   Mar 2022              1552 non-null   float64
 8   Apr 2022              1552 non-null   float64
 9   May 2022              1552 non-null   float64
 10  Jun 2022              1552 non-null   float64
 11  July 2022             1552 non-null   float64
 12  Aug 2022              1552 non-null   float64
 13  Sep 2022              1552 non-null   float64
 14  Oct 2022              1552 non-null   float64
 15  Nov 2022              1552 non-null   float64
 16  total_miles           1553 non-null   float64
dtypes: float64(14), object(3)
memory usage: 206.4+ KB
None

2.milege_data_2022 Summary:
        manufacturer permit_number         vin_number
count          1553          1553               1553
unique           26            26               1552
top       WAYMO LLC        AVT003  3FA6P0MU6KR100163
freq            688           688                  2

        total_disengagements     Dec 2021     Jan 2022     Feb 2022
count           1553.000000  1553.000000  1553.000000  1552.000000  \
mean               5.290406   285.038184   392.630071   429.417075
std               41.983797   520.282632   694.858317   773.377278
min                0.000000     0.000000     0.000000     0.000000
25%                0.000000     0.000000     0.000000     0.000000
50%                0.000000     0.000000     0.000000     0.000000
75%                0.000000   378.300000   611.000000   564.900000
max              774.000000  2164.000000  2712.700000  3440.400000

          Mar 2022     Apr 2022     May 2022     Jun 2022    July 2022
count  1552.000000  1552.000000  1552.000000  1552.000000  1552.000000  \
mean    400.170683   352.432603   299.425258   176.358247   180.588273
std     754.073980   700.041240   559.649706   388.084155   428.171518
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%     438.150000   285.300000   347.000000   160.000000   101.225000
max    3419.400000  3204.700000  3061.800000  3007.200000  3165.100000

          Aug 2022     Sep 2022     Oct 2022     Nov 2022   total_miles
count  1552.000000  1552.000000  1552.000000  1552.000000   1553.000000
mean    195.169072   178.938789   186.055155   208.876224   3283.414939
std     446.653666   395.812718   438.170956   509.273284   4722.011082
min       0.000000     0.000000     0.000000     0.000000      0.000000
25%       0.000000     0.000000     0.000000     0.000000      0.000000
50%       0.000000     0.000000     0.000000     0.000000    520.000000
75%     111.950000   107.525000   100.325000   118.675000   5960.700000
max    2991.900000  2857.900000  3012.000000  4619.000000  22886.200000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10892 entries, 0 to 10891
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   manufacturer                  10892 non-null  object
 1   permit_number                 10892 non-null  object
 2   vin_number                    10892 non-null  object
 3   is_operatable_without_driver  10892 non-null  object
 4   driver_present                10892 non-null  object
 5   is_disengaged_by              10892 non-null  object
 6   disengaged_location           10892 non-null  object
 7   disengagement_reason          10892 non-null  object
 8   date                          10892 non-null  object
dtypes: object(9)
memory usage: 766.0+ KB


3.disengagements_data_2021_22 Info:
 None

3.disengagements_data_2021_22 Summary:
        manufacturer permit_number         vin_number
count         10892         10892              10892  \
unique           35            29                469
top      APPLE INC.        AVT030  2T2BGMCA8GC008505
freq           6645          6645                871

       is_operatable_without_driver driver_present is_disengaged_by
count                         10892          10892            10892  \
unique                            5              3               11
top                              No            Yes      Test Driver
freq                          10653          10717             8632

       disengaged_location                               disengagement_reason
count                10892                                              10892  \
unique                  11                                                562
top                 Street  The ADS incorrectly predicted the behavior of ...
freq                  6090                                               1507

             date
count       10892
unique        609
top     8/29/2022
freq          136

##### 

Study Notes:
1. Both the milege data have 26 unique manufacturer. However, disengagement data has 35 unique manufacturers - Needs investigation 
2. Both the milege data hvae 1 VIN number with duplicate records - Needs investigation

### Study cetegorical variables

In [205]:
# Maufacturers
print(f"\nMaufacturers_2021:\n {milege_data_2021.manufacturer.value_counts()}")
print(f"\nMaufacturers_2022:\n {milege_data_2022.manufacturer.value_counts()}")
print(f"\ndisengagements_2021:\n {disengagements_data_2021_22.manufacturer.value_counts()}")
Maufacturers_2021 = milege_data_2021.groupby('manufacturer')[['total_disengagements']].agg(['sum'])
print(f"Maufacturers_2021:\n {Maufacturers_2021}")
Maufacturers_2022 = milege_data_2022.groupby('manufacturer')[['total_disengagements']].agg(['sum'])
print(f"\n\nMaufacturers_2022:\n {Maufacturers_2022}")

Maufacturers_2021:
 manufacturer
WAYMO LLC                                                   693
CRUISE LLC                                                  138
ZOOX, INC                                                    85
AUTOX TECHNOLOGIES, INC                                      44
PONY.AI, INC.                                                38
APPLE INC.                                                   37
LYFT                                                         23
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     17
NURO, INC                                                    15
WERIDE CORP                                                  14
ARGO AI, LLC                                                 13
DIDI RESEARCH AMERICA LLC                                    12
AURORA OPERATIONS, INC.                                       7
NVIDIA                                                        6
APOLLO AUTONOMOUS DRIVING USA LLC                             5
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         5
TOYOTA RESEARCH INSTITUTE, INC.                               4
QUALCOMM TECHNOLOGIES, INC.                                   3
GATIK AI INC.                                                 3
DEEPROUTE.AI                                                  2
QCRAFT INC.                                                   2
UDELV, INC.                                                   2
VALEO NORTH AMERICA INC.                                      2
AIMOTIVE INC.                                                 2
EASYMILE                                                      1
IMAGRY INC.                                                   1
Name: count, dtype: int64

Maufacturers_2022:
 manufacturer
WAYMO LLC                                                   688
CRUISE LLC                                                  388
ZOOX INC                                                    142
APPLE INC.                                                   69
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     47
AUTOX TECHNOLOGIES, INC                                      44
PONY.AI, INC.                                                41
NURO, INC                                                    19
WERIDE CORP                                                  17
NVIDIA CORPORATION                                           14
MOTIONAL AD, INC.                                            14
ARGO AI, LLC                                                 13
DIDI RESEARCH AMERICA, LLC                                   12
GHOST AUTONOMY INC                                           10
APOLLO AUTONOMOUS DRIVING USA LLC                             7
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         6
QUALCOMM TECHNOLOGIES, INC.                                   4
TOYOTA RESEARCH INSTITUTE                                     4
INTEL CORPORATION                                             3
GATIK AI INC                                                  3
DEEPROUTE.AI                                                  2
AIMOTIVE INC.                                                 2
AURORA OPERATIONS, INC.                                       1
IMAGRY INC                                                    1
QCRAFT INC.                                                   1
VALEO NORTH AMERICA INC.                                      1
Name: count, dtype: int64

disengagements_2021:
 manufacturer
APPLE INC.                                                  6645
AIMOTIVE INC.                                                786
WAYMO LLC                                                    462
GHOST AUTONOMY INC                                           448
TOYOTA RESEARCH INSTITUTE, INC.                              419
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     310
VALEO NORTH AMERICA INC.                                     276
QUALCOMM TECHNOLOGIES, INC.                                  271
EASYMILE                                                     222
IMAGRY INC                                                   204
INTEL CORPORATION                                            155
MOTIONAL AD, INC.                                            135
TOYOTA RESEARCH INSTITUTE                                    112
NVIDIA                                                        82
IMAGRY INC.                                                   71
UDELV, INC.                                                   46
PONY.AI, INC.                                                 41
NURO, INC                                                     38
CRUISE LLC                                                    30
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         25
LYFT                                                          23
ZOOX INC                                                      21
ZOOX, INC                                                     21
AURORA OPERATIONS, INC.                                        9
QCRAFT INC.                                                    8
NVIDIA CORPORATION                                             7
GATIK AI INC.                                                  6
WERIDE CORP                                                    6
GATIK AI INC                                                   3
ARGO AI, LLC                                                   2
DIDI RESEARCH AMERICA, LLC                                     2
AUTOX TECHNOLOGIES, INC                                        2
DEEPROUTE.AI                                                   2
DIDI RESEARCH AMERICA LLC                                      1
APOLLO AUTONOMOUS DRIVING USA LLC                              1
Name: count, dtype: int64
Maufacturers_2021:
                                                    total_disengagements
                                                                    sum
manufacturer
AIMOTIVE INC.                                                     106.0
APOLLO AUTONOMOUS DRIVING USA LLC                                   1.0
APPLE INC.                                                        663.0
ARGO AI, LLC                                                        1.0
AURORA OPERATIONS, INC.                                             9.0
AUTOX TECHNOLOGIES, INC                                             1.0
CRUISE LLC                                                         21.0
DEEPROUTE.AI                                                        2.0
DIDI RESEARCH AMERICA LLC                                           1.0
EASYMILE                                                          222.0
GATIK AI INC.                                                       6.0
IMAGRY INC.                                                        71.0
LYFT                                                               23.0
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMER...                272.0
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATI...                 17.0
NURO, INC                                                          23.0
NVIDIA                                                             82.0
PONY.AI, INC.                                                      21.0
QCRAFT INC.                                                         5.0
QUALCOMM TECHNOLOGIES, INC.                                       143.0
TOYOTA RESEARCH INSTITUTE, INC.                                   419.0
UDELV, INC.                                                        46.0
VALEO NORTH AMERICA INC.                                          205.0
WAYMO LLC                                                         292.0
WERIDE CORP                                                         3.0
ZOOX, INC                                                          21.0


Maufacturers_2022:
                                                    total_disengagements
                                                                    sum
manufacturer
AIMOTIVE INC.                                                     680.0
APOLLO AUTONOMOUS DRIVING USA LLC                                   0.0
APPLE INC.                                                       5982.0
ARGO AI, LLC                                                        1.0
AURORA OPERATIONS, INC.                                             0.0
AUTOX TECHNOLOGIES, INC                                             1.0
CRUISE LLC                                                          9.0
DEEPROUTE.AI                                                        0.0
DIDI RESEARCH AMERICA, LLC                                          2.0
GATIK AI INC                                                        3.0
GHOST AUTONOMY INC                                                448.0
IMAGRY INC                                                        204.0
INTEL CORPORATION                                                 155.0
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMER...                 38.0
MOTIONAL AD, INC.                                                 135.0
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATI...                  8.0
NURO, INC                                                          15.0
NVIDIA CORPORATION                                                  7.0
PONY.AI, INC.                                                      20.0
QCRAFT INC.                                                         3.0
QUALCOMM TECHNOLOGIES, INC.                                       128.0
TOYOTA RESEARCH INSTITUTE                                         112.0
VALEO NORTH AMERICA INC.                                           71.0
WAYMO LLC                                                         170.0
WERIDE CORP                                                         3.0
ZOOX INC                                                           21.0

In [206]:
print(disengagements_data_2021_22.disengaged_location.value_counts())
print(disengagements_data_2021_22.is_operatable_without_driver.value_counts())
print(disengagements_data_2021_22.driver_present.value_counts())
print(disengagements_data_2021_22.is_disengaged_by.value_counts())

disengaged_location
Street              6090
Freeway             2680
Highway             1037
street               784
STREET               187
Urban                 71
freeway               19
HIGHWAY               18
Parking Facility       4
Rural Road             1
Interstate             1
Name: count, dtype: int64
is_operatable_without_driver
No     10653
NO       183
Yes       48
no         5
YES        3
Name: count, dtype: int64
driver_present
Yes    10717
YES      169
yes        6
Name: count, dtype: int64
is_disengaged_by
Test Driver                   8632
AV System                     1301
Test driver                    682
Test Driver - Soft Stop        151
AV System - Emergency Stop      71
Test Drive                      23
Driver                          19
Software                         7
ADS                              3
Operator                         2
AV system                        1
Name: count, dtype: int64

## B] Data Preparation for Analysis and Reporting

In [225]:
# 1. Fix Manufacturer Names across datasets

dict = {'WAYMO LLC' : 'WAYMO LLC',
'CRUISE LLC' : 'CRUISE LLC',
'ZOOX INC' : 'ZOOX, INC',
'ZOOX, INC' : 'ZOOX, INC',
'APPLE INC.' : 'APPLE INC.',
'MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.' : 'MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.',
'MERCEDES-BENZ RESEARCH &DEVELOPMENT NORTH AMERICA, INC.' : 'MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.',
'AUTOX TECHNOLOGIES, INC' : 'AUTOX TECHNOLOGIES, INC',
'PONY.AI, INC.' : 'PONY.AI, INC.',
'NURO, INC' : 'NURO, INC',
'WERIDE CORP' : 'WERIDE CORP',
'NVIDIA' : 'NVIDIA',
'NVIDIA CORPORATION' : 'NVIDIA',
'MOTIONAL AD, INC.' : 'MOTIONAL AD, INC.',
'ARGO AI, LLC' : 'ARGO AI, LLC',
'DIDI RESEARCH AMERICA, LLC' : 'DIDI RESEARCH AMERICA, LLC',
'DIDI RESEARCH AMERICA LLC' : 'DIDI RESEARCH AMERICA, LLC',
'GHOST AUTONOMY INC' : 'GHOST AUTONOMY INC',
'APOLLO AUTONOMOUS DRIVING USA LLC' : 'APOLLO AUTONOMOUS DRIVING USA LLC',
'APOLLO AUTONOMOUS DRIVINGUSALLC' : 'APOLLO AUTONOMOUS DRIVING USA LLC',
'APOLLO AUTONOMOUS DRIVINGUSA LLC' : 'APOLLO AUTONOMOUS DRIVING USA LLC',
'NISSAN NORTH AMERICA, INCDBAALLIANCE INNOVATION LAB' : 'NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB',
'NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB' : 'NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB',
'NISSAN NORTH AMERICA, INCDBA ALLIANCE INNOVATION LAB' : 'NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB',
'QUALCOMM TECHNOLOGIES, INC.' : 'QUALCOMM TECHNOLOGIES, INC.',
'TOYOTA RESEARCH INSTITUTE, INC.' : 'TOYOTA RESEARCH INSTITUTE, INC.',
'TOYOTA RESEARCH INSTITUTE' : 'TOYOTA RESEARCH INSTITUTE, INC.',
'INTEL CORPORATION' : 'INTEL CORPORATION',
'GATIK AI INC.' : 'GATIK AI INC.',
'GATIK AI INC' : 'GATIK AI INC.',
'DEEPROUTE.AI' : 'DEEPROUTE.AI',
'AIMOTIVE INC.' : 'AIMOTIVE INC.',
'AURORA OPERATIONS, INC.' : 'AURORA OPERATIONS, INC.',
'IMAGRY INC' : 'IMAGRY INC.',
'IMAGRY INC.' : 'IMAGRY INC.',
'QCRAFT INC.' : 'QCRAFT INC.',
'VALEO NORTH AMERICA INC.' : 'VALEO NORTH AMERICA INC.',
'LYFT' : 'LYFT',
'EASYMILE' : 'EASYMILE',
'IMAGRY INC.' : 'IMAGRY INC.',
'UDELV, INC.' : 'UDELV, INC.'}
milege_data_2021=milege_data_2021.replace({"manufacturer": dict})
milege_data_2022=milege_data_2022.replace({"manufacturer": dict})
disengagements_data_2021_22=disengagements_data_2021_22.replace({"manufacturer": dict})
print(f"\nMaufacturers_2021:\n {milege_data_2021.manufacturer.value_counts()}")
print(f"\nMaufacturers_2022:\n {milege_data_2022.manufacturer.value_counts()}")
print(f"\ndisengagements_2021:\n {disengagements_data_2021_22.manufacturer.value_counts()}")

# 1. Categorical values in disengagements data

disengagements_data_2021_22['disengaged_location'] = disengagements_data_2021_22['disengaged_location'].str.lower()
print(disengagements_data_2021_22.disengaged_location.value_counts())

disengagements_data_2021_22['is_operatable_without_driver'] = disengagements_data_2021_22['is_operatable_without_driver'].str.lower()
print(disengagements_data_2021_22.is_operatable_without_driver.value_counts())

disengagements_data_2021_22['driver_present'] = disengagements_data_2021_22['driver_present'].str.lower()
print(disengagements_data_2021_22.driver_present.value_counts())

disengagements_data_2021_22['is_disengaged_by'] = disengagements_data_2021_22['is_disengaged_by'].str.lower()
print(disengagements_data_2021_22.is_disengaged_by.value_counts())
      
def is_disengaged_by(row):
    if row['is_disengaged_by'] in ('test driver','operator','test drive', 'test driver - soft stop', 'driver'):
        return 'driver'
    else:
        return 'av/ads/sofrtware'

disengagements_data_2021_22['is_disengaged_by'] = disengagements_data_2021_22.apply(is_disengaged_by, axis=1)

print(disengagements_data_2021_22.is_disengaged_by.value_counts())

disengagements_data_2021_22['month_id'] = pd.to_datetime(disengagements_data_2021_22['date']).dt.to_period('M').dt.to_timestamp()
print(disengagements_data_2021_22.head())

Maufacturers_2021:
 manufacturer
WAYMO LLC                                                   693
CRUISE LLC                                                  138
ZOOX, INC                                                    85
AUTOX TECHNOLOGIES, INC                                      44
PONY.AI, INC.                                                38
APPLE INC.                                                   37
LYFT                                                         23
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     17
NURO, INC                                                    15
WERIDE CORP                                                  14
ARGO AI, LLC                                                 13
DIDI RESEARCH AMERICA, LLC                                   12
AURORA OPERATIONS, INC.                                       7
NVIDIA                                                        6
APOLLO AUTONOMOUS DRIVING USA LLC                             5
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         5
TOYOTA RESEARCH INSTITUTE, INC.                               4
QUALCOMM TECHNOLOGIES, INC.                                   3
GATIK AI INC.                                                 3
DEEPROUTE.AI                                                  2
QCRAFT INC.                                                   2
UDELV, INC.                                                   2
VALEO NORTH AMERICA INC.                                      2
AIMOTIVE INC.                                                 2
EASYMILE                                                      1
IMAGRY INC.                                                   1
Name: count, dtype: int64

Maufacturers_2022:
 manufacturer
WAYMO LLC                                                   688
CRUISE LLC                                                  388
ZOOX, INC                                                   142
APPLE INC.                                                   69
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     47
AUTOX TECHNOLOGIES, INC                                      44
PONY.AI, INC.                                                41
NURO, INC                                                    19
WERIDE CORP                                                  17
NVIDIA                                                       14
MOTIONAL AD, INC.                                            14
ARGO AI, LLC                                                 13
DIDI RESEARCH AMERICA, LLC                                   12
GHOST AUTONOMY INC                                           10
APOLLO AUTONOMOUS DRIVING USA LLC                             7
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         6
QUALCOMM TECHNOLOGIES, INC.                                   4
TOYOTA RESEARCH INSTITUTE, INC.                               4
INTEL CORPORATION                                             3
GATIK AI INC.                                                 3
DEEPROUTE.AI                                                  2
AIMOTIVE INC.                                                 2
AURORA OPERATIONS, INC.                                       1
IMAGRY INC.                                                   1
QCRAFT INC.                                                   1
VALEO NORTH AMERICA INC.                                      1
Name: count, dtype: int64

disengagements_2021:
 manufacturer
APPLE INC.                                                  6645
AIMOTIVE INC.                                                786
TOYOTA RESEARCH INSTITUTE, INC.                              531
WAYMO LLC                                                    462
GHOST AUTONOMY INC                                           448
MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.     310
VALEO NORTH AMERICA INC.                                     276
IMAGRY INC.                                                  275
QUALCOMM TECHNOLOGIES, INC.                                  271
EASYMILE                                                     222
INTEL CORPORATION                                            155
MOTIONAL AD, INC.                                            135
NVIDIA                                                        89
UDELV, INC.                                                   46
ZOOX, INC                                                     42
PONY.AI, INC.                                                 41
NURO, INC                                                     38
CRUISE LLC                                                    30
NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         25
LYFT                                                          23
GATIK AI INC.                                                  9
AURORA OPERATIONS, INC.                                        9
QCRAFT INC.                                                    8
WERIDE CORP                                                    6
DIDI RESEARCH AMERICA, LLC                                     3
AUTOX TECHNOLOGIES, INC                                        2
ARGO AI, LLC                                                   2
DEEPROUTE.AI                                                   2
APOLLO AUTONOMOUS DRIVING USA LLC                              1
Name: count, dtype: int64
disengaged_location
street              7061
freeway             2699
highway             1055
urban                 71
parking facility       4
rural road             1
interstate             1
Name: count, dtype: int64
is_operatable_without_driver
no     10841
yes       51
Name: count, dtype: int64
driver_present
yes    10892
Name: count, dtype: int64
is_disengaged_by
driver              9509
av/ads/sofrtware    1383
Name: count, dtype: int64
is_disengaged_by
driver              9509
av/ads/sofrtware    1383
Name: count, dtype: int64
    manufacturer permit_number         vin_number
0  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509  \
1  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
2  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
3  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509
4  AIMOTIVE INC.        AVT036  JTDKN3DU9A0059509

  is_operatable_without_driver driver_present is_disengaged_by
0                           no            yes           driver  \
1                           no            yes           driver
2                           no            yes           driver
3                           no            yes           driver
4                           no            yes           driver

  disengaged_location                               disengagement_reason
0             freeway  During an exit/merge the test vehicle was goin...  \
1             freeway  Exit/Merge Lane departure, due to the car miss...
2             freeway  Exit/Merge Lane departure, due to the car miss...
3             freeway  During an exit/merge the test vehicle was goin...
4             freeway  The car should have stayed in the left lane, b...

        date   month_id
0   3/4/2021 2021-03-01
1  3/16/2021 2021-03-01
2  3/16/2021 2021-03-01
3  3/16/2021 2021-03-01
4   4/2/2021 2021-04-01

In [208]:
# Convert the mileage data to longitudinal by months in rows instead of column. Better data structure fit-for analysis / reporting purpose

milege_data_2021_l = milege_data_2021.melt(id_vars=["manufacturer", "permit_number","vin_number","total_disengagements","total_miles"], 
        var_name="month", 
        value_name="miles").sort_values(["manufacturer", "permit_number","vin_number","total_disengagements","total_miles"]).reset_index(drop=True)
milege_data_2022_l = milege_data_2022.melt(id_vars=["manufacturer", "permit_number","vin_number","total_disengagements","total_miles"], 
        var_name="month", 
        value_name="miles").sort_values(["manufacturer", "permit_number","vin_number","total_disengagements","total_miles"]).reset_index(drop=True)

milege_data_2021_22_l = pd.concat([milege_data_2021_l,milege_data_2022_l])

In [209]:
print(f"\n4.milege_data_2021_22_l Info:\n")
print(milege_data_2021_22_l.info())
print(f"\n4.milege_data_2021_22_l Summary:\n {milege_data_2021_22_l.describe(include='object')}  \n\n {milege_data_2021_22_l.describe()}")

4.milege_data_2021_22_l Info:

<class 'pandas.core.frame.DataFrame'>
Index: 32724 entries, 0 to 18635
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          32724 non-null  object
 1   permit_number         32724 non-null  object
 2   vin_number            32724 non-null  object
 3   total_disengagements  32724 non-null  float64
 4   total_miles           32724 non-null  object
 5   month                 32724 non-null  object
 6   miles                 32709 non-null  float64
dtypes: float64(2), object(5)
memory usage: 2.0+ MB
None

4.milege_data_2021_22_l Summary:
        manufacturer permit_number         vin_number  total_miles     month
count         32724         32724              32724      32724.0     32724
unique           29            29               1757       1987.0        24
top       WAYMO LLC        AVT003  5G21A6P0XL4100045          0.0  Dec 2021
freq          16572         16572                 36       5676.0      1553

        total_disengagements         miles
count          32724.000000  32709.000000
mean               3.994133    280.970623
std               33.050588    576.662953
min                0.000000      0.000000
25%                0.000000      0.000000
50%                0.000000      0.000000
75%                0.000000    260.700000
max              774.000000   4619.000000

In [210]:
milege_data_2021_22_l['month_id'] ='01 '+milege_data_2021_22_l['month']
milege_data_2021_22_l['month_id'] = pd.to_datetime(milege_data_2021_22_l['month_id'],format='mixed') 
milege_data_2021_22_l['year'] = pd.DatetimeIndex(milege_data_2021_22_l['month_id']).year
#milege_data_2021_22_l['total_miles1'] = milege_data_2021_22_l['total_miles'].str.replace(' ', '')
#milege_data_2021_22_l['total_miles1'] = pd.to_numeric(milege_data_2021_22_l['total_miles1'])

In [226]:
milege_data_2021_22_l.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32724 entries, 0 to 18635
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          32724 non-null  object
 1   permit_number         32724 non-null  object
 2   vin_number            32724 non-null  object
 3   total_disengagements  32724 non-null  float64
 4   total_miles           32724 non-null  object
 5   month                 32724 non-null  object
 6   miles                 32709 non-null  float64
 7   month_id              32724 non-null  datetime64[ns]
 8   year                  32724 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), object(5)
memory usage: 2.4+ MB

In [212]:
milege_data_2021_22_l[milege_data_2021_22_l['year']==2022]

,manufacturer,permit_number,vin_number,total_disengagements,total_miles,month,miles,month_id,year
1,AIMOTIVE INC.,AVT036,4T1B21HK3KU514477,218.0,5865.0,Jan 2022,0.0,2022-01-01,2022
2,AIMOTIVE INC.,AVT036,4T1B21HK3KU514477,218.0,5865.0,Feb 2022,0.0,2022-02-01,2022
3,AIMOTIVE INC.,AVT036,4T1B21HK3KU514477,218.0,5865.0,Mar 2022,0.0,2022-03-01,2022
4,AIMOTIVE INC.,AVT036,4T1B21HK3KU514477,218.0,5865.0,Apr 2022,0.0,2022-04-01,2022
5,AIMOTIVE INC.,AVT036,4T1B21HK3KU514477,218.0,5865.0,May 2022,1022.0,2022-05-01,2022
...,...,...,...,...,...,...,...,...,...
18631,"ZOOX, INC",AVT012,~9989,0.0,9150.0,July 2022,1887.0,2022-07-01,2022
18632,"ZOOX, INC",AVT012,~9989,0.0,9150.0,Aug 2022,1134.0,2022-08-01,2022
18633,"ZOOX, INC",AVT012,~9989,0.0,9150.0,Sep 2022,1326.0,2022-09-01,2022
18634,"ZOOX, INC",AVT012,~9989,0.0,9150.0,Oct 2022,965.0,2022-10-01,2022
18635,"ZOOX, INC",AVT012,~9989,0.0,9150.0,Nov 2022,904.0,2022-11-01,2022

In [219]:
Maufacturers_permit = milege_data_2021_22_l.groupby(['permit_number','manufacturer'])['month_id'].count()
print(f"Maufacturers_permit:\n {Maufacturers_permit}")

Maufacturers_permit:
 permit_number  manufacturer
AVT002         MERCEDES-BENZ RESEARCH & DEVELOPMENT NORTH AMERICA, INC.      768
AVT003         WAYMO LLC                                                   16572
AVT004         MOTIONAL AD, INC.                                             168
AVT007         NISSAN NORTH AMERICA, INC DBA ALLIANCE INNOVATION LAB         132
AVT008         CRUISE LLC                                                   6312
AVT012         ZOOX, INC                                                    2724
AVT015         APOLLO AUTONOMOUS DRIVING USA LLC                             144
AVT017         VALEO NORTH AMERICA INC.                                       36
AVT020         NVIDIA                                                        240
AVT021         AUTOX TECHNOLOGIES, INC                                      1056
AVT028         NURO, INC                                                     408
AVT029         UDELV, INC.                                                    24
AVT030         APPLE INC.                                                   1272
AVT032         PONY.AI, INC.                                                 948
AVT034         WERIDE CORP                                                   372
AVT036         AIMOTIVE INC.                                                  48
AVT037         AURORA OPERATIONS, INC.                                        96
AVT045         LYFT                                                          276
AVT047         QUALCOMM TECHNOLOGIES, INC.                                    84
AVT050         TOYOTA RESEARCH INSTITUTE, INC.                                96
AVT052         INTEL CORPORATION                                              36
AVT054         GATIK AI INC.                                                  72
AVT055         DIDI RESEARCH AMERICA, LLC                                    288
AVT058         EASYMILE                                                       12
AVT061         IMAGRY INC.                                                    24
AVT066         ARGO AI, LLC                                                  312
AVT067         QCRAFT INC.                                                    36
AVT069         DEEPROUTE.AI                                                   48
AVT073         GHOST AUTONOMY INC                                            120
Name: month_id, dtype: int64

In [214]:
Maufacturers_miles = milege_data_2021_22_l.groupby(['manufacturer','year'])['miles'].agg(['sum'])
Maufacturers_miles

                                             sum
manufacturer                      year
AIMOTIVE INC.                     2020       0.0
                                  2021    3225.0
                                  2022   14966.0
APOLLO AUTONOMOUS DRIVING USA LLC 2020       0.0
                                  2021    1727.5
...                                          ...
WERIDE CORP                       2021   58348.0
                                  2022   63609.6
ZOOX, INC                         2020    3148.0
                                  2021  166097.0
                                  2022  536931.0

[81 rows x 1 columns]

In [215]:
Maufacturers_miles = milege_data_2021_22_l.groupby(['manufacturer','year'])[['total_disengagements','total_miles']].agg(['max'])
Maufacturers_miles

TypeError: '>=' not supported between instances of 'str' and 'float'

### Join milege and disengagement data

In [275]:
disengagements_data_2021_22_monthly = disengagements_data_2021_22.groupby(['manufacturer','month_id','vin_number'],as_index = False)['date'].count()
disengagements_data_2021_22_monthly = disengagements_data_2021_22_monthly.rename(columns={'date': 'disengagements'})

In [276]:
#disengagements_data_2021_22_monthly.columns
disengagements_data_2021_22_monthly

       manufacturer   month_id         vin_number  disengagements
0     AIMOTIVE INC. 2021-03-01  JTDKN3DU9A0059509               4
1     AIMOTIVE INC. 2021-04-01  JTDKN3DU9A0059509              21
2     AIMOTIVE INC. 2021-05-01  JTDKN3DU9A0059509              14
3     AIMOTIVE INC. 2021-06-01  JTDKN3DU9A0059509              16
4     AIMOTIVE INC. 2021-07-01  JTDKN3DU9A0059509               2
...             ...        ...                ...             ...
1104      ZOOX, INC 2022-06-01              ~9205               1
1105      ZOOX, INC 2022-06-01              ~9454               1
1106      ZOOX, INC 2022-08-01              ~5200               1
1107      ZOOX, INC 2022-08-01              ~6584               1
1108      ZOOX, INC 2022-09-01              ~9142               1

[1109 rows x 4 columns]

In [291]:
milege_disengagements_data_2021_22_l = pd.merge(milege_data_2021_22_l, disengagements_data_2021_22_monthly,  how='left', left_on=['manufacturer','month_id','vin_number'], right_on = ['manufacturer','month_id','vin_number'])
milege_disengagements_data_2021_22_l['disengagements'] = milege_disengagements_data_2021_22_l['disengagements'].fillna(0)
milege_disengagements_data_2021_22_l['miles'] = milege_disengagements_data_2021_22_l['miles'].fillna(0)
print(milege_disengagements_data_2021_22_l.info())
print(milege_disengagements_data_2021_22_l.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32724 entries, 0 to 32723
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          32724 non-null  object
 1   permit_number         32724 non-null  object
 2   vin_number            32724 non-null  object
 3   total_disengagements  32724 non-null  float64
 4   total_miles           32724 non-null  object
 5   month                 32724 non-null  object
 6   miles                 32724 non-null  float64
 7   month_id              32724 non-null  datetime64[ns]
 8   year                  32724 non-null  int32
 9   disengagements        32724 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(1), object(5)
memory usage: 2.4+ MB
None
    manufacturer permit_number         vin_number  total_disengagements
0  AIMOTIVE INC.        AVT036  4T1B21HK6KU514747                  49.0  \
1  AIMOTIVE INC.        AVT036  4T1B21HK6KU514747                  49.0
2  AIMOTIVE INC.        AVT036  4T1B21HK6KU514747                  49.0
3  AIMOTIVE INC.        AVT036  4T1B21HK6KU514747                  49.0
4  AIMOTIVE INC.        AVT036  4T1B21HK6KU514747                  49.0

  total_miles     month  miles   month_id  year  disengagements
0      1149.0  Dec 2020    0.0 2020-12-01  2020             0.0
1      1149.0  Jan 2021    0.0 2021-01-01  2021             0.0
2      1149.0  Feb 2021    0.0 2021-02-01  2021             0.0
3      1149.0  Mar 2021    0.0 2021-03-01  2021             0.0
4      1149.0  Apr 2021    0.0 2021-04-01  2021             0.0

In [292]:
# Cumulative sum
milege_disengagements_data_2021_22_l=milege_disengagements_data_2021_22_l.sort_values(by=['manufacturer','month_id','vin_number'], ascending = [True, True,True])
milege_disengagements_data_2021_22_l['cumsum_mile']=milege_disengagements_data_2021_22_l.groupby(['manufacturer'])['miles'].cumsum()
milege_disengagements_data_2021_22_l['cumsum_disengagements']=milege_disengagements_data_2021_22_l.groupby(['manufacturer'])['disengagements'].cumsum()
milege_disengagements_data_2021_22_l.head(100)

,manufacturer,permit_number,vin_number,total_disengagements,total_miles,month,miles,month_id,year,disengagements,cumsum_mile,cumsum_disengagements
0,AIMOTIVE INC.,AVT036,4T1B21HK6KU514747,49.0,1149.0,Dec 2020,0.0,2020-12-01,2020,0.0,0.0,0.0
12,AIMOTIVE INC.,AVT036,JTDKN3DU9A0059509,57.0,1827.0,Dec 2020,0.0,2020-12-01,2020,0.0,0.0,0.0
1,AIMOTIVE INC.,AVT036,4T1B21HK6KU514747,49.0,1149.0,Jan 2021,0.0,2021-01-01,2021,0.0,0.0,0.0
13,AIMOTIVE INC.,AVT036,JTDKN3DU9A0059509,57.0,1827.0,Jan 2021,0.0,2021-01-01,2021,0.0,0.0,0.0
2,AIMOTIVE INC.,AVT036,4T1B21HK6KU514747,49.0,1149.0,Feb 2021,0.0,2021-02-01,2021,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,APOLLO AUTONOMOUS DRIVING USA LLC,AVT015,3LN6L2LU5GR607996,0.0,0.0,Sep 2021,0.0,2021-09-01,2021,0.0,951.1,1.0
69,APOLLO AUTONOMOUS DRIVING USA LLC,AVT015,3LN6L5LU1HR627987,0.0,0.0,Sep 2021,0.0,2021-09-01,2021,0.0,951.1,1.0
81,APOLLO AUTONOMOUS DRIVING USA LLC,AVT015,3LN6L5LU2HR615153,1.0,830 .04,Sep 2021,75.1,2021-09-01,2021,0.0,1026.2,1.0
34,APOLLO AUTONOMOUS DRIVING USA LLC,AVT015,2T2BGMCA5JC021381,0.0,0.0,Oct 2021,0.0,2021-10-01,2021,0.0,1026.2,1.0
46,APOLLO AUTONOMOUS DRIVING USA LLC,AVT015,3LN6L2LU4GR629715,0.0,637.5,Oct 2021,121.1,2021-10-01,2021,0.0,1147.3,1.0

In [293]:
milege_disengagements_data_2021_22_l.to_csv('milege_disengagements_data_2021_22_l.csv', index=False)